@font-face {
  font-family: 'Cocktail Shaker';
  src: url(./../../fonts/cocktail-shaker.ttf);
}

/* line 17, ../_base.scss */
.Input, .signup_input {
  display: block;
  padding: 10px;
  margin: 0 auto;
  outline: none;
  border: 1px solid #c3c3c3;
}

/* line 27, ../_base.scss */
.Button, .signup_pic.right, .locate_button, .signup_button {
  border: none;
  padding: 5px 20px;
}

@-webkit-keyframes playing {
  /* line 33, ../_base.scss */
  0% {
    border-color: #35cb37;
  }

  /* line 34, ../_base.scss */
  50% {
    border-color: rgba(53, 203, 55, 0.5);
  }

  /* line 35, ../_base.scss */
  100% {
    border-color: #35cb37;
  }
}

/* line 7, ../main.scss */
html {
  height: 100%;
}

/* line 9, ../main.scss */
body {
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, rgba(69, 88, 113, 0.6)), color-stop(100%, #394d65));
  background: -webkit-radial-gradient(50% 50%, circle, rgba(69, 88, 113, 0.6) 0%, #394d65 100%);
  background: -moz-radial-gradient(50% 50%, circle, rgba(69, 88, 113, 0.6) 0%, #394d65 100%);
  background: -o-radial-gradient(50% 50%, circle, rgba(69, 88, 113, 0.6) 0%, #394d65 100%);
  background: radial-gradient(50% 50%, circle, rgba(69, 88, 113, 0.6) 0%, #394d65 100%);
}

/* line 18, ../main.scss */
.signup {
  width: 500px;
  height: 1000px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 100px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0 0 7px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0 0 7px 0px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 7px 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 32, ../main.scss */
.signup_header {
  height: 8%;
  width: inherit;
  overflow: hidden;
  background: #308be3;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 42, ../main.scss */
.signup_header > h1 {
  position: relative;
  top: 50%;
  margin-top: -17px;
  margin-bottom: 0px;
  font-family: 'Cocktail Shaker';
  font-size: 30px;
  font-size: 1.875rem;
  text-align: center;
  color: white;
}

/* line 51, ../main.scss */
.signup_body {
  width: inherit;
  height: 84%;
  background: #f0f0f0;
  position: relative;
}

/* line 60, ../main.scss */
.signup_thumb {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: block;
  margin: 10px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 70, ../main.scss */
.signup_thumb > img {
  margin: 0px 0px 0px -20px;
}

/* line 75, ../main.scss */
#signup_output {
  margin: 0 auto;
  display: block;
  margin-top: 0px;
}

/* line 84, ../main.scss */
.signup_video {
  width: 100px;
  height: 100px;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
  padding: 0px;
  border: 3px solid #35cb37;
  -webkit-animation: playing 2s infinite linear;
  -moz-animation: playing 2s infinite linear;
  -ms-animation: playing 2s infinite linear;
  -o-animation: playing 2s infinite linear;
  animation: playing 2s infinite linear;
}
/* line 99, ../main.scss */
.signup_video > video {
  position: absolute;
  left: -20px;
  cursor: pointer;
}

/* line 108, ../main.scss */
.signup_user {
  width: 70%;
  height: 50px;
  background: #3f5e6e;
  margin: 20px auto;
  padding: 0 10px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 120, ../main.scss */
.signup_pic {
  width: 49%;
  height: 100%;
  display: inline;
  background: none;
}

/* line 128, ../main.scss */
#fileupload {
  display: none;
}

/* line 131, ../main.scss */
.signup_pic.left {
  height: 35px;
  display: inline-block;
  position: relative;
  padding-top: 15px;
  cursor: pointer;
  text-indent: 10px;
}

/* line 141, ../main.scss */
.signup_pic.right {
  text-align: right;
}
/* line 144, ../main.scss */
.signup_pic.right:focus {
  outline: none;
}

/* line 147, ../main.scss */
.signup_circle {
  width: 70px;
  height: 70px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3461d8), color-stop(40%, #0094de), color-stop(100%, #00d5ec));
  background: -webkit-linear-gradient(top, #3461d8 0%, #0094de 40%, #00d5ec 100%);
  background: -moz-linear-gradient(top, #3461d8 0%, #0094de 40%, #00d5ec 100%);
  background: -o-linear-gradient(top, #3461d8 0%, #0094de 40%, #00d5ec 100%);
  background: linear-gradient(top, #3461d8 0%, #0094de 40%, #00d5ec 100%);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -35px;
  margin-left: -35px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* line 164, ../main.scss */
.signup_circle > i {
  width: 40px;
  height: 40px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 50%;
  margin-left: -20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
  font-size: 35px;
  font-size: 2.1875rem;
  text-align: center;
}

/* line 187, ../main.scss */
.signup_input_valid {
  visibility: hidden;
  background: #308be3;
  position: absolute;
  right: 15%;
  margin-top: -40px;
  padding: 2px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  color: #ffffff;
}

/* line 200, ../main.scss */
.signup_input:valid + div {
  visibility: visible;
}

/* line 204, ../main.scss */
.signup_input.single {
  width: 70%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 211, ../main.scss */
.signup_input.double {
  width: 43%;
  display: inline-block;
  margin: 0 auto;
}

/* line 217, ../main.scss */
.signup_input.top {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}

/* line 222, ../main.scss */
.signup_input.bottom {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
}

/* line 228, ../main.scss */
.locate_button {
  background: #308be3;
  display: block;
  margin: 20px auto 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(48, 139, 227, 0.6) 0 2px 0;
  -moz-box-shadow: rgba(48, 139, 227, 0.6) 0 2px 0;
  box-shadow: rgba(48, 139, 227, 0.6) 0 2px 0;
  color: white;
}

/* line 241, ../main.scss */
.signup_address {
  width: 70%;
  margin: 10px auto;
}

/* line 248, ../main.scss */
.signup_footer {
  width: inherit;
  height: 8%;
  overflow: hidden;
  background: #e1e1e1;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* line 257, ../main.scss */
.signup_button {
  background: #308be3;
  display: block;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  top: 50%;
  margin-top: -14px;
  margin-bottom: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(48, 139, 227, 0.6) 0 2px 0;
  -moz-box-shadow: rgba(48, 139, 227, 0.6) 0 2px 0;
  box-shadow: rgba(48, 139, 227, 0.6) 0 2px 0;
  color: white;
}
