//CONFIGURATION FILE

$rootFontSize           :           16;

@function calculateRem($size) {
  $remSize : $size / $rootFontSize;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: #{$size}px;
  font-size: calculateRem($size);
}