
$backgroundRadialCenter           :                   rgba(69, 88, 113, 0.6);
$backgroundRadialOut              :                   rgba(57, 77, 101, 1.0000);

$picLinearBottom                  :                   rgba(52, 97, 216, 1.0000);
$picLinearMiddle                  :                   rgba(0, 148, 222, 1.0000);
$picLinearTop                     :                   rgba(0, 213, 236, 1.0000);

$headerBackgroundColor            :                   rgba(48, 139, 227, 1.0000);

$middleBackgroundColor            :                   rgba(240, 240, 240, 1.0000);

$footerBackgroundColor            :                   rgba(225, 225, 225, 1.0000);

$backgroundPic                    :                   rgba(63, 94, 110, 1.0000);

$fontWhite                        :                   rgba(255,255,255,1);

$inputBorder                      :                   #C3C3C3;

$darkBoxShadow                    :                   rgba(0,0,0,0.5);
$buttonBoxShadow                  :                   rgba(48, 139, 227, 0.6);

$playingLightGreen                :                   rgba(53, 203, 55, 1.0000);
$playingDarkGreen                 :                   rgba(53, 203, 55, 0.5);

